:root {
    --primary-background-color: #FFFFFF;
    --primary-text-color: #1F2020;
    --secondary-background-color: #7BB899;
    --primary-border-color: rgba(0, 0, 0, 0.1);
    --tertiary-background-color: #C4C4C4;
    --image-background-color: rgb(68, 84, 79);
    --quaternary-background-color: rgba(0, 0, 0, 0.4);
    --popup-background-color: rgba(0, 0, 0, 0.7);
    --input-background-color: #F2F2F2;
    --tertiary-text-color: #202020;
    --icon-color: rgb(0, 0, 0);

    --swiper-navigation-color: #FFFFFF;
    --swiper-theme-color: #FFFFFF;
}