.button {
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: var(--primary-text-color);
    cursor: pointer;
    background: none;
    border: none;
}