@use '../mixins/mixins' as mixins;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: var(--primary-background-color);
}

.header__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;

    &::after {
        position: absolute;
        bottom: 0;
        left: 24px;
        width: calc(100% - 48px);
        height: 1px;
        padding: 0 24px;
        content: '';
        background-color: var(--primary-text-color);
        opacity: 0.06;
    }
}

.header__burger-line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--primary-text-color);
    @include mixins.transition(transform);
}

.header__burger {
    position: relative;
    z-index: 15;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 24px;

    &:hover {
        .header__burger-line {
            opacity: 0.7;
        }
    }
}

.header__burger--open {
    .header__burger-line:nth-of-type(1) {
        transform: rotate(-45deg) translate(0, 4px);
    }

    .header__burger-line:nth-of-type(2) {
        transform: rotate(45deg) translate(0, -4px);
    }

    .header__burger-line:nth-of-type(3) {
        transform: scaleX(0)
    }
}


.header__personal-button {
    @include mixins.transition(transform);
    will-change: contents;

    &--cart {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 6px 8px;
        background-color: var(--secondary-background-color);
        border-radius: 50%;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.header__personal-button--search,
.header__personal-button--account,
.header__personal-button--like {
    display: none;
}

.header__logo {
    @include mixins.transition(opacity);

    &:hover,
    &:focus-visible {
        opacity: 0.8;
    }
}

.header__contacts {
    display: none;
}

.header__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--primary-background-color);
    transform: translateX(100%);
    @include mixins.transition(transform);
}

.header__nav--open {
    transform: translateX(0);
}

.header__menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}

.header__menu-link {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        background-color: var(--primary-text-color);
        transform: scale(0);
        @include mixins.transition(transform);
    }

    &:hover::after {
        transform: scale(1);
    }
}


@media (min-width: 760px) {
    .header__wrapper {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 38px 24px;

        &::after {
            display: none;
        }
    }

    .header__burger,
    .header__nav-button-wrapper {
        display: none;
    }

    .header__nav {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background-color: transparent;
        transform: translateX(0);
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        font-size: 14px;
    }

    .header__logo svg {
        width: 131px;
        height: 26px;
    }
}

@media (min-width: 1330px) {
    .header__wrapper {
        display: grid;
        grid-template-columns: min-content 1fr auto min-content;
        gap: 116px;
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px 25px;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        font-size: 14px;
    }

    .header__contacts {
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: flex-start;
    }

    .header__contacts-link {
        font-weight: 500;
        letter-spacing: -0.02em;
        @include mixins.transition(opacity);

        &:hover {
            opacity: 0.5;
        }
    }

    .header__contacts-order-button {
        opacity: 0.3;
        @include mixins.transition(opacity);

        &:hover {
            opacity: 0.8;
        }
    }


    .header__personal-button {
        display: block;
    }

    .header__personal {
        display: flex;
        gap: 24px;
        align-items: center;
    }
}

@media (min-width: 1500px) {
    .header__wrapper {
        padding: 40px 64px;
    }
}

@media (min-width: 1920px) {
    .header__logo {
        margin-right: 56px;
    }
}